body {
  background-color: #0a0a1a;
  color: #00FFFF;
  margin: 0;
  font-family: Arial, sans-serif;
}

@font-face {
  font-family: 'Doctor Glitch';
  src: url('font/Doctor_Glitch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.hero {
  background-color: #000120;
  font-family: 'Doctor Glitch', sans-serif;
  padding: 20px;
}

h1 {
  font-family: 'Doctor Glitch', sans-serif;
  font-size: 3em;
  color: #00FFFF;
  text-align: center;
  margin: 0 0 10px 0;
}

#chartdiv {
  width: 100%;
  height: 60vh; 
  background-color: #000120;
  border-radius: 10px;
  box-shadow: 0 0 20px #00FFFF88;
  max-height: 600px;
  min-height: 350px;
  padding-bottom: 50px;
  padding-left: 15px;
  margin-left: auto;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1;
  margin: 10px 0 10px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  position: relative;
  padding: 0;
}

.globe-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 8px 12px;
  background-color: #00FFFF;
  color: #000120;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Doctor Glitch', sans-serif;
  transition: 0.2s;
}

.globe-btn:hover {
  background-color: #00aaaa;
}

.year-toggle, .malware-filter, .zone-filter {
  text-align: center;
  margin: 15px 0;
}

.year-btn {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #222;
  color: #00FFFF;
  border: none;
  border-radius: 4px;
  font-family: 'Doctor Glitch', sans-serif;
  transition: 0.2s;
}

.year-btn.active {
  background-color: #00FFFF;
  color: #000120;
}

.year-btn:hover {
  background-color: #00aaaa;
}

.malware-filter select, .zone-filter select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #00FFFF;
  background-color: #111;
  color: #00FFFF;
  font-family: 'Doctor Glitch', sans-serif;
}

.main-row {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: flex-start;
}

.malware-stats {
  margin-left: 50px;
  margin-top: 10px;
  background-color: #000120;
  border-radius: 10px;
  box-shadow: 0 0 20px #00FFFF88;
  padding: 20px;
  width: 100%;
  max-width: 750px;
  color: #00FFFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* Scroll pour les phrases malware */
#malwareStats {
  max-height: 400px;        /* Hauteur fixe pour Global */
  overflow-y: auto;         /* Scroll vertical si contenu trop long */
  padding-right: 10px;      /* Évite que le texte touche le scroll */
  scrollbar-width: thin;    /* Pour Firefox */
  scrollbar-color: #00FFFF #000120; /* Couleur du scroll pour Firefox */
}

/* Scroll Chrome / Edge / Safari */
#malwareStats::-webkit-scrollbar {
  width: 8px;
}

#malwareStats::-webkit-scrollbar-track {
  background: #000120;
  border-radius: 5px;
}

#malwareStats::-webkit-scrollbar-thumb {
  background-color: #00FFFF;
  border-radius: 5px;
  border: 2px solid #000120;
}
