body {
  color: black;
}

#mapdiv {
  width: 100%;
  height: 400px;
  clear: left;
}
#columndiv {
  width: 100%;
  height: 300px;
  clear: left;
}
#piediv {
  width: 25%;
  height: 220px;
  float: left;
}      
#gaugediv {
  width: 25%;
  height: 220px;
  float: left
}
#linediv {
  width: 50%;
  height: 220px;
  float: left
}   